body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 1em;
}
form input, form textarea {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
}
button {
  padding: 0.5em 1em;
  background: #44c767;
  color: white;
  border: none;
  cursor: pointer;
}
